:root{
    --size-text: 1.5rem;
}
header,footer,section{
    padding: 100px 0;
}
header{
    padding: 200px 0;
    background-image: url(img/top.jpg);
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: var(--size-text);
    margin: 10px 5% ;
}

h2{
    margin: 10px 2%;
}
.btn-play{
    display: block;
    max-width: 200px;
    margin: 10px auto;
}
.t-center{
    border-radius: 15px;
}
.top-v{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}
.top-video{
    min-height: 700px;
    min-width: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}